/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Muli', sans-serif;
  color: #292626;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Muli', sans-serif;
  color: #292626;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}
p {
  font-size: 1.25rem;
  line-height: 1.8;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  background-color: #292626;
}
nav a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #fcfcfc;
  padding: 1.25rem;
}
footer {
  background-color: #292626;
  color: #fcfcfc;
  padding: 1rem 0 1rem 5rem;
}
.container .intro {
  background-color: #292626;
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  color: #fcfcfc;
}
.container .intro h1 {
  color: #fcfcfc;
  padding: 10px 15px;
  text-decoration: none;
}
.container .intro h2 {
  padding: 15px;
}
.container .image-container {
  position: relative;
  width: 100%;
  max-width: 800px;
}
.container .image-container img {
  width: 100%;
  height: auto;
}
.container .image-container .h2-box {
  background-color: #fcfcfc;
  color: #292626;
  font-size: 2.5rem;
  position: absolute;
  bottom: 1.75rem;
  left: 2.5rem;
  padding: 1rem;
  border: solid 0.2rem #ff9900;
  opacity: 0.92;
}
.container .image-container .CTA-button {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  width: 28%;
  padding: 1rem;
  font-size: 1.75rem;
  background-color: #ff9900;
  color: #292626;
  font-size: 1.5rem;
  border-radius: 2.5%;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 70%;
}
.container .image-container .CTA-button:hover {
  color: #fcfcfc;
  background-color: #a3d5e0;
}
.container .one-click {
  text-align: center;
  padding: 3rem;
  border: dotted 0.15rem #a3d5e0;
}
.container .one-click h4 {
  color: #292626;
}
.container .benefits {
  background-color: #a56565;
  color: #fcfcfc;
  display: flex;
  padding: 0 2rem 3rem 4rem;
}
.container .benefits-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #fcfcfc;
  padding: 2rem;
}
.container .benefits-boxes .benefits-img {
  width: 50%;
}
.container img {
  width: 100%;
  height: auto;
}
.container .about-intro {
  background-color: #292626;
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  color: #fcfcfc;
  text-decoration: none;
}
.container .about-intro h1 {
  color: #fcfcfc;
  padding: 10px 15px;
  text-decoration: none;
}
.container .about-intro h2 {
  padding: 15px;
}
.container .bikes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border: dotted 0.15rem #a3d5e0;
  padding: 2rem;
}
.container .bikes h2 {
  padding-bottom: 1rem;
}
.container .our-team {
  background-color: #fcfcfc;
  color: #a56565;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 5rem;
  border-left: solid 0.25rem #a56565;
  border-right: solid 0.25rem #a56565;
  border-top: solid 0.25rem #a56565;
}
.container .our-team h3 {
  color: #292626;
}
.container .our-team h4 {
  color: #a56565;
}
.container .team-img {
  width: 35%;
}
.container .title {
  color: #a56565;
}
.container .job {
  color: #292626;
}
.container .team-member {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-evenly;
  align-items: center;
}
.container .rideforlife {
  padding: 2rem;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid 0.25rem #a56565;
  border-right: solid 0.25rem #a56565;
}
.container .team-2 {
  padding: 2rem;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid 0.25rem #a56565;
  border-right: solid 0.25rem #a56565;
  border-bottom: solid 0.5rem #a56565;
}
.container .team-3 {
  padding: 2rem;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid 0.25rem #a56565;
  border-right: solid 0.25rem #a56565;
}
