.container {

  .about-intro {
    background-color: @dark-grey;
    display: flex;
    .layout(space-between, center);
    color: @white;
    text-decoration: none;
  
    h1 {
      color: @white;
      padding:10px 15px;
      text-decoration: none;
    }
    
    h2 {
      padding: 15px;
    }
  }

}