.container {

  .intro {
    background-color: @dark-grey;
    display: flex;
    .layout(center, center);
    padding-top: 1rem;
    @media @mobile {
      padding-bottom: .5rem;
    }

    h1 {
      color: @white;
    }
    
    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  }





}